body { 
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f0f0f0;
    padding: 30px; 
    display: flex;
    justify-content: center;
}

.nav-links {
    margin: 0;
    display: flex;
    border-bottom: solid gray;
    align-items: center; 
}

.nav-links li {
    display: inline-block;
    padding: 10px;
    margin: 0;
    position: relative;  
}

.nav-links a {
    text-decoration: none;
    color: gray;
    padding: 8px 16px;
    border-radius: 5px;
    font: bolder;
    font-size: 22px;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links li::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 0px; 
    background-color: #0066b2; 
    transition: height 0.3s ease;  
}

.nav-links li:hover::after {
    height: 5px; 
}

.nav-links li:hover a {
    transform: translateY(-3px); 
    color: black; 
}

.card-flexbox {
    margin-top: 100px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.card {
    font-family: monospace;
    padding: 30px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.card h1 {
    font-size: 40px;
}

.card p {
    font-size: 15px;
}

.card img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.card button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card button:hover {
    color: white;
    transform: scale(1.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
