/* General Styles */
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navigation Styles */
nav {
    background-color: #f0f0f0;
    padding: 30px; 
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    display: flex;
    border-bottom: solid gray;
}

.nav-link {
    display: inline-block;
    padding: 10px;
    margin: 0;
    position: relative;  
}

.nav-link a {
    text-decoration: none;
    color: gray;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 0px; 
    background-color: #0066b2; 
    transition: height 0.3s ease;  
}

.nav-link:hover::after {
    height: 5px; 
}

.nav-link:hover a {
    transform: translateY(-3px); 
    color: black; 
}

.logo-nav img {
    height: 50px; 
    width: 50px; 
    transition: transform 0.3s ease; 
}

.logo-nav img:hover {
    transform: scale(1.1); 
}

.dropdown {
    max-height: 0;
    overflow: hidden; 
    position: absolute;
    background-color: #f0f0f0;
    min-width: 70px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1;
    top: 60px; 
    transition: max-height 0.5s ease; 
}

.dropdown li {
    padding: 12px 12px;
}

.dropdown li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.dropdown li a:hover {
    background-color: #ddd;
}

.nav-link:hover .dropdown {
    max-height: 500px; 
}

/* Card Styles */
.card-flexbox {
    margin-top: 100px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.card {
    font-family: monospace;
    padding: 30px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: visible;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 0.5s ease-in; 
}

.card h1 {
    font-size: 40px;
}

.card p {
    font-size: 15px;
}

.card img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card button:hover {
    color: white;
    transform: scale(1.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: absolute; 
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 80%; 
    position: relative;
    border-radius: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal-open .card:hover,
.modal-open .card img:hover,
.modal-open .card button:hover {
    transform: none;
    box-shadow: none;
}

.modal-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.modal-list li {
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin: 10px 0; 
    padding: 10px 15px;
    transition: background-color 0.3s; 
}

.modal-list li:hover {
    background-color: #e9e9e9; 
}

.modal-list p {
    margin: 0;
    color: #333; 
    font-size: 16px; 
    line-height: 1.5; 
}
